@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.our-guides {
  max-width: 80%; /*задаємо макс. ширину всій секції */
  margin: 20px /* відступ вниз/вверх від усієї секції*/ auto; /* центруємо блок */
}
.our-guides h2 {
  /* звертаюсь до Н2 саме у класі our-guides*/
  font-family: Merriweather, serif;
  font-size: 34px;
  font-weight: 700;
  color: #263a4f; /* тут візьми зі змінної колір */
  letter-spacing: -0.7px; /*Взяла з інспектору */
  line-height: 40px; /*Взяла з інспектору */
  text-align: center; /* Вирівнюємо текст по середині */
  margin: 0px /* верхній відступ*/ auto /*відступ ліво/право*/ 20px
    /*відступ вниз */;
}
.our-guides__decor {
 margin: 0px auto 50px; /* центруємо декор по горизонталі по цетру, зверху відступ заданий в Н2, внихз - 50пх*/
  display: flex; /* щоб квадратики були в рядок - флекс за замовченням завжди flex-direction: row; тому це можна не писати*/
  justify-content: space-between; /* розподіляє елементи флекса по ширині (лівий/правий притиснуті до країв), відступи між елементами задає автоматично */
  width: 37px; /*ширина контейнера */
 
}
.our-guides__decor div {
  /* елементи декора. квадратики оці. звертаюсь до всіх дівів у класі our-guides__decor, щоб не прописувати їм класи окремо*/
  width: 5px;
  height: 5px;
  background-color: #52acfe;
}
.our-guides__carusel {
  /* спочатку потрібно прописати відображення на телефоні */
  display: flex;
  max-height: 350px; /*макимальна висота всього блока */
  position: relative; /*бо для стрілок прописано position: absolute; отже потрібно їх відносно чогось робити з абсолютним позиціонуванням */
  overflow: hidden; /* ховаємо картинку, що вилізла за межі блока*/
}
.our-guides__carusel img {
  min-width: 100%; /*щоб 1 картинка займала 100% блока */
  height: auto;
  object-fit: cover; /* для того, щоб картинка рівно вписувалась і її не розтягувало*/
}
/* далі прописую під великі екрани */
@media (min-width: 750px) {
  .our-guides__carusel img {
    min-width: 50%; /*щоб 1 картинка займала 1/2 блока */
  }
}
@media (min-width: 988px) {
  .our-guides__carusel img {
    min-width: 33.333%; /*щоб 1 картинка займала 1/3 блока */
  }
}
/*пишу загальні налаштування для лівої і правої стрілки */
.our-guides__left-arrow,
.our-guides__right-arrow {
  display: flex; /*для того, щоб вирівняти саму картинку стрілки по центру*/
  position: absolute; /*для того, щоб "накласти" стрілки на фото робимо абсолютне позиціонування */
  justify-content: center; /*рівняємо по горизонталі */
  align-items: center; /* рівняємо по вертикалі */
  width: 32px; /*ширина/висота контейнера. самої кнопки */
  height: 32px;
  background-color: #263a4f;
  opacity: 0.7; /* вона все таки трошки напівпрозора)) - при наведенні opacity: 0.7; буде ставати opacity: 1, дял цього нижче прописала hover*/
  border-radius: 50%; /*щоб скріглити края блока. якщо прибрати - він буде квадратний */
  transition: all 0.2s ease-in-out; /* додаємо щоб анімація плавно зникала */
}
.our-guides__left-arrow:hover,
.our-guides__right-arrow:hover {
  /*додаємо анімацію при наведенні */
  opacity: 1;
  transition: all 0.2s ease-in-out; /* додаємо щоб анімація плавно з'являлась */
}
/*пишу загальні налаштування для картинок лівої і правої стрілки */
.our-guides__left-arrow img,
.our-guides__right-arrow img {
  width: 63%; /*блок - 32пх, картинка - 20пх, можна прописати розміри в пх, але, якщо порахувати який % займає картинка під блоку, в якому вона знаходиться, то
    при зміні розміру блока картинка буде адаптуватись сама */
  height: 63%;
}
/*для того, щоб не грузити 2 картинки я вигрузила 1 і залила її і як ліву стрілку, і як праву. зараз ліву просто розверну на 180 град  + вирівнюємо нашу 
ліву стрілку ліворуч та по центру картинки. Для неї вище вже прописано position: absolute; (як і для правої) тому це я тут не буду писати, просто
пропишу як саме позиціонувати*/
.our-guides__left-arrow {
  transform-origin: center; /*для того, щоб transform відбувався відносно центру осі */
  transform: rotate(180deg);
  top: 50%; /*по горизонталі по центру */
  left: 20px; /*ліворуч відступити 20пх */
}
.our-guides__right-arrow {
  top: 50%;
  right: 20px;
}
